---
---
{% include top.html %}
    <main class="flex">
      <figure id="me">
        <img src="media/mtlaguna1_crop.png" alt="">
        <figcaption><a href="https://www.tallinhphoto.com/" target="_blank" rel="noopener noreferrer">Photo credit</a></figcaption>
      </figure>
      <article>
        <p>
        Welcome to my website! I am an Assistant Teaching Professor at 
	<a href="https://math.asu.edu/"  target="_blank" rel="noopener noreferrer">
	Arizona 
	State University</a>. I received my PhD from the University of California, 
	Irvine in 2025, where I was advised by 
	<a href="https://www.math.uci.edu/~mreyes/" target="_blank" rel="noopener noreferrer">Manuel Reyes</a>.
	My research interests are in noncommutative ring theory, and current work focuses on non-abelian group-gradings of Calabi–Yau algebras.
        </p>
      </article>
    </main>

{% include bottom.html %}
