---
---
{% include top.html %}
    <main class="flex">
      <figure>
        <img src="media/mtlaguna1_crop.png" alt="" id="me">
        <figcaption><a href="https://www.tallinhphoto.com/" target="_blank" rel="noopener noreferrer">Photo credit</a></figcaption>
      </figure>
      <article>
        <p>
        Welcome to my website! I am a sixth year PhD candidate and currently on the job market. My research interests are in noncommutative ring theory, and I am advised by <a href="https://www.math.uci.edu/~mreyes/" target="_blank" rel="noopener noreferrer">Manuel Reyes</a>. My current work focuses on group-gradings of Calabi–Yau algebras. A current copy of my CV can be found <a href="media/ybaki-cv-2024-10.pdf">here</a>.
        </p>
      </article>
    </main>

{% include bottom.html %}
