---
---
{% include top.html %}
    <main>
    <h1>Research</h1>
    <p>
    Here is some of my research.
    </p>
    <h2>Publications</h2>
    <h2>Presentations</h2>
    <ol>
      <li>Baki, Yasmeen. 2024. $G$-graded twisted Calabi&ndash;Yau algebras. Presented at the Fall Central AMS Sectional Meeting at UT San Antonio.
    </ol>
    <table>
      <tr>
        <th>Title</th>
        <th>Date</th>
        <th>Location</th>
      </tr>
      <tr>
        <td>$G$-graded twisted Calabi&ndash;Yau algebras.</td>
        <td>September 2024</td>
        <td>AMS Fall Central Sectional Meeting</td>
      </tr>
    </table>
    </main>
{% include bottom.html %}
