body {
  font-family: Open Sans;
  max-width: 800px;

}

header, footer {
  clear: both;
}

.ipa {
  font-family: Arial;
}

header h1 {
  margin-bottom: 0;
}

header h2 {
  margin-top: 0;
}

table {
  white-space: nowrap;
}

figure, article {
  float: left;
}

article {
  width: auto;
}

figcaption {
  width: 100%;
  margin: auto;
  text-align: center;
}
