body {
  font-family: Open Sans;
  max-width: 800px;

}

header, footer {
  clear: both;
}

.ipa {
  font-family: Arial;
}

header h1 {
  margin-bottom: 0;
}

header h2 {
  margin-top: 0;
}

table {
  white-space: nowrap;
}

img {
  width: 100%;
  object-fit: contain;
}

#me {
  width: 15%;
  flex-shrink: 0;
}

.flex {
  display: flex;
}

figcaption {
  width: 100%;
  margin: auto;
  text-align: center;
}
