body {
  font-family: Open Sans;
  max-width: 800px;

}

.ipa {
  font-family: Arial;
}

header h1 {
  margin-bottom: 0;
}

header h2 {
  margin-top: 0;
}

table {
  white-space: nowrap;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

figure {
  width: 300px;
}

figcaption {
  width: 100%;
  margin: auto;
  text-align: center;
}
