---
---
{% include top.html %}
    <main>
    <h1>Teaching</h1>
    <p>
    Here is some of my teaching.
    </p>
    <h2>Research</h2>
    <p>
    Here is some of my research about math education.
    </p>
    <ol>
      <li>Pi, J., Davis, C., <strong>Baki, Y.</strong>, and Pantano, A. Reflective Groupwork for Introductory Proof-Writing Courses. <em>PRIMUS</em>, 1&ndash;19.</li>
      <li><strong>Baki, Y.</strong> Math 13 at UC Irvine: An active, collaborative, and comprehensive approach to the teaching and learning of proof writing. Presented at MAA MathFest 2023. Tampa, FL. [<a href="https://drive.google.com/file/d/1c5Q3sTObpF4M2ysTBOoFUE1sAZX96zU8/view?usp=sharing">slides</a>]</li>
      <li>Pantano, A., Treuer, J., and <strong>Baki, Y.</strong> 2022. The UCI Math Circle: Building an Online Community of Young Math Researchers. Presented at MAA MathFest 2022. Philadelphia, PA. [<a href="https://drive.google.com/file/d/1O7wsJoabf9A6ArHzRBCRFKskM8H9VEj7/view?usp=sharing">slides</a>]</li>
      <li>Pantano, A., Treuer, J., and <strong>Baki, Y.</strong> 2022. The UCI Math Circle: Building an online community of young math researchers. <em>Journal of Math Circles</em> 2:2.</li>
    </ol>
    </main>
{% include bottom.html %}
