---
---
{% include top.html %}
    <main>
    <h1>Teaching</h1>
    <p>
    Here is some of my teaching.
    <h2>Fall 2025 at ASU</h2>
    <ul>
	<li> MAT 117: College Algebra
	<li> MAT 265: Calculus for Engineers
    </ul>
    </p>
    <h1>Research</h1>
    <p>
    Here is some of my research about math education.
    </p>
    <ol>
	    <li>Pi, J., Davis, C., <strong>Baki, Y.</strong>, and Pantano, A. Reflective Groupwork for Introductory Proof-Writing Courses. <em>PRIMUS</em>, 1&ndash;19. <a href="https://www.tandfonline.com/doi/full/10.1080/10511970.2024.2399609" target="_blank">[Journal]</a> <a href="https://arxiv.org/abs/2312.14332",target="_blank">[arXiv]</a></li>
      <li><strong>Baki, Y.</strong> Math 13 at UC Irvine: An active, collaborative, and comprehensive approach to the teaching and learning of proof writing. Presented at MAA MathFest 2023. Tampa, FL. [<a href="https://drive.google.com/file/d/1c5Q3sTObpF4M2ysTBOoFUE1sAZX96zU8/view?usp=sharing">slides</a>]</li>
      <li>Pantano, A., Treuer, J., and <strong>Baki, Y.</strong> 2022. The UCI Math Circle: Building an Online Community of Young Math Researchers. Presented at MAA MathFest 2022. Philadelphia, PA. [<a href="https://drive.google.com/file/d/1O7wsJoabf9A6ArHzRBCRFKskM8H9VEj7/view?usp=sharing">slides</a>]</li>
      <li>Pantano, A., Treuer, J., and <strong>Baki, Y.</strong> 2022. The UCI Math Circle: Building an online community of young math researchers. <em>Journal of Math Circles</em> 2:2. <a href="https://digitalcommons.cwu.edu/cgi/viewcontent.cgi?article=1044&context=mathcirclesjournal" target="_blank">[Journal]</a> </li>
    </ol>
    </main>
{% include bottom.html %}
