<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Open%20Sans" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
    <title>Yasmeen Baki</title>
  </head>
  <body>
    <header>
    <h1>Yasmeen Baki</h1>
    <h2><a href="https://en.wikipedia.org/wiki/Help:IPA/English" target="_blank" rel="noopener noreferrer" class="ipa">/jɛsˈmin ˈbɑqi/</a> (yes-MEEN BAH-qee)</h2>

    University<br>
    Mail<br>
    </header>
    <hr>
    <nav>
    <a href="index.html">Home</a>
    <a href="research.html">Research</a>
    <a href="teaching.html">Teaching</a>
    <a href="other.html">Other</a>
    </nav>
    <hr>
